@font-face {
  font-family: "Asap-Bold";
  src: url("../fonts/Asap/Asap-Bold.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Asap-Italic";
  src: url("../fonts/Asap/Asap-Italic.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Asap-Medium";
  src: url("../fonts/Asap/Asap-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Asap-Regular";
  src: url("../fonts/Asap/Asap-Regular.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Lato-Light";
  src: url("../fonts/Lato/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat/Montserrat-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
