$primary-font-size:          16px;
$secondary-font-size:        46px;
$tertiary-font-size:         22px;
$fourth-seniority-font-size: 30px;
$logo-small-font-size:       4px;
$logo-large-font-size:       14px;
$header-large-font-size:     90px;
$testimonial-text-font-size: 30px;
$testimonial-font-size:      12px;
$percent-font-size:          15px;
$services-text-font-size:    24px;

$primary-font:               "Asap-Bold", "Helvetica", sans-serif;
$secondary-font:             "Asap-Regular", "Helvetica", sans-serif;
$tertiary-font:              "Asap-Medium", "Helvetica", sans-serif;
$post-font:                  "Asap-Italic", "Helvetica", sans-serif;
$header-logo-text:           "Lato-Light", "Helvetica", sans-serif;
$footer-text:                "Montserrat-Regular", "Helvetica", sans-serif;

$primary-line-height:        1.5;
$secondary-line-height:      4;
$tertiary-line-height:       3;

$primary-text-color:         #4d4d4d;
$secondary-text-color:       #212121;
$primary-color:              #fff;
$primary-border-color:       #000;
$primary-bg-color:           #f6f6f6;
$shadow-color:               #ccc;
$line-under-headers-color:   #717171;
$primary-home-bg-color:      #dedede;
$secondary-home-bg-color:    #e2e2e2;
$social-icons-bg-color:      #0084b4;


